<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Task 1 </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>The fruit you've selected is :</ion-text
  ><ion-item>
    <ion-select value="">
      <ion-select-option value="Fruit">Apple</ion-select-option>
      <ion-select-option value="Fruit">Watermelon</ion-select-option>
      <ion-select-option value="Fruit">Peach</ion-select-option>
    </ion-select>
    <ion-button>Select Fruit :</ion-button>
  </ion-item>
</ion-content>
