<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 03 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 03</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text color="secondary">
      <h1>Hello</h1>
    </ion-text>
    <ion-button expand="block">+</ion-button>
    <ion-button expand="block">-</ion-button>
  </div>
</ion-content>
