<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 01 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 01</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="{{myimage}}" />
    <ion-button expand="block" (click)="addEvent();">Previous</ion-button>
    <ion-button expand="block" (click)="addEvent();">Next</ion-button>
  </div>
</ion-content>
