<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Choose your favorite city</ion-label>
    <ion-select value="">
      <ion-select-option value="city">China - Beijing</ion-select-option>
      <ion-select-option value="city">China - Shanghai</ion-select-option>
      <ion-select-option value="city">China - Huzhou</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
