<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 02 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 02</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/1/15/Giyu_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/f/f8/Mitsuri_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/b/b7/Obanai_Anime_Profile.png"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/3/36/Sanemi_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/7/79/Gyomei_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/e/e7/Kyojuro_Anime_Profile.png"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/d/d8/Tengen_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/9/9e/Muichiro_Anime_Profile.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/b/b2/Shinobu_Anime_Profile.png"
          />
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
