<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 02 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 02</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/008.png"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png"
          />
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
