<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 5 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="warning">
    <h1>one</h1>
  </ion-text>
  <ion-text color="danger">
    <h3><b>two</b></h3>
  </ion-text>
  <ion-text color="primary">
    <h1><em>three</em></h1>
  </ion-text>
</ion-content>
