<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 6 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 6</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Input 1:</ion-label>
        <ion-input type="number" [(ngModel)]="firstNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark">Input 2:</ion-label>
        <ion-input type="number" [(ngModel)]="secondNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark"
          >output:<span class="result">{{result}}</span></ion-label
        >
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="full" (click)="add()">+</ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="dark" expand="full" (click)="sub()">-</ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="dark" expand="full" (click)="mult()">*</ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="dark" expand="full" (click)="div()">/</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
