<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Normal Input</ion-label>
    <ion-input placeholder="placeholder" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password Input</ion-label>
    <ion-input placeholder="placeholder" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Integer Input</ion-label>
    <ion-input placeholder="placeholder" type="number"></ion-input>
  </ion-item>
</ion-content>
