<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-select value="" okText="Okay" cancelText="Dismiss">
      <ion-label>Favorite City</ion-label>
      <ion-select-option value="Shanghai is in China"
        >Shanghai</ion-select-option
      >
      <ion-select-option value="London is in England">London</ion-select-option>
      <ion-select-option value="Paris is in France">Paris</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
