<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Please chose your character encoding</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>UTF Encoding</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>GBK Encoding</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
