<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="text-align: center !important">
    <ion-button expand="full" color="dark"
      ><ion-text color="danger"><b>one</b></ion-text></ion-button
    >
  </div>
  <div style="text-align: center !important">
    <ion-button size="small" color="dark"
      ><ion-text color="primary"><em>two</em></ion-text>
    </ion-button>
  </div>
  <div style="text-align: center !important">
    <ion-button size="large" color="dark"
      ><ion-text color="light">three</ion-text></ion-button
    >
  </div>
</ion-content>
