<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Task 03 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task 03</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" (click)="openToast1()"
      >Display Toast for a long time</ion-button
    >
    <ion-button expand="full" (click)="openToast2()"
      >Display Toast for a short time</ion-button
    >
  </div>
</ion-content>
